<header style="width:100%; height: 47px; background-color: #55a44e; margin-bottom: 10px;">
  <img src="assets/logo2.png" style=" display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%">
</header>
<div>
  <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
    [options]="mapChartOptions" [callbackFunction]="mapChartCallback" [(update)]=updateFromInput [oneToOne]="true"
    class="boxChart__map">
  </highcharts-chart>
</div>
<div class="boxChart__container">
  <div>
    <!-- <ng-container *ngIf="selectedCountry !==''">
       <highcharts-chart id="country" [Highcharts]="Highcharts" [constructorType]="countryChartConstructor"
        [options]="countryDetailsOptions" [callbackFunction]="countryDetailsCallback"
        [(update)]=updateCountryDetails [oneToOne]="true" >
      </highcharts-chart> 
      
    </ng-container> -->
    <div #info [ngStyle]="{'visibility': (selectedCountry==='') ? 'hidden' : 'visible'}"
      style="width: 45vw; display: block; margin: auto; float: left;"></div>
    <div #Bioinfo [ngStyle]="{'visibility': (selectedCountry==='') ? 'hidden' : 'visible'}"
      style="width: 45vw; display: block; margin: auto;"></div>
    <ng-container *ngIf="selectedCountry === ''">
      <h2 style="display: block; margin: auto; text-align: center; font-family: Arial, Helvetica, sans-serif; color: #55a44e;">Select a
        country to display details...
      </h2>
    </ng-container>
  </div>
</div>
<hr>
<h2 class="story__title">World Ecological Footprint</h2>
<div class="story">
  <div class="story__item">
    <p class="story__paragraph">The ecological footprint measures the ecological assets that a given population requires
      to produce the natural
      resources it consumes (including plant-based food and fiber products, livestock and fish products, timber and
      other forest products, space for urban infrastructure) and to absorb its waste, especially carbon emissions.</p>
    <iframe class="story__video" src="https://www.youtube.com/embed/fACkb2u1ULY" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="story__item">
    <p class="story__football">
      <span class="story__football-header">Globally, forests are lost at a rate of 48 football fields per minute.</span>
      Growing
      demand for forest and agricultural
      products coupled with unsustainable practices and poor legal enforcement is at the root of this troubling trend.
      Forests are the lifeblood of our planet and nearly half of Earth’s original forest cover has been lost.
      Initiatives like FSC and REDD are making strides by creating market incentives to conserve them.</p>
    <img class="story__image" src="assets/forestloss.jpg">
  </div>
</div>